body {
    background-image: url("../img/bg.png");
    background-size: cover;
}

/* #startContainer, #statementContainer, #importantStatementContainer, #importantPartiesContainer, #resultContainer {
    min-height: 750px;
} */

.text-custom-blue {
    color: rgb(1, 180, 220);
}

.text-custom-black {
    color: #000;
}

/* .text-custom-grey {
    color: rgb(231, 234, 235);
} */

#startContainer i {
    font-size: 40px;
}

#goBackButton i {
    font-size: 25px;
}

#goBackButton {
    width: 50px;
    height: 50px;
}

#statement {
    font-size: 25px;
}